<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-89VN8DQWP3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-89VN8DQWP3");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comp Folks</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'favicon/apple-touch-icon.png'%}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicon/favicon-32x32.png'%}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicon/favicon-16x16.png'%}"
    />
    <link rel="manifest" href="{% static 'favicon/site.webmanifest'%}" />
    <link
      rel="mask-icon"
      href="{% static 'favicon/safari-pinned-tab.svg'%}"
      color="#99f6e4"
    />
    <meta name="msapplication-TileColor" content="#99f6e4" />
    <meta name="theme-color" content="#ebedf9" />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/app_bb.css'%}"
    />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Akshar:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- NAVBAR -->

    <nav class="navbar navbar-expand navbar-custom col-sm-12 boxy">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand bigbrand bigbrand-custom" href="{% url 'home' %}"
        >@COMPFOLKS</a
      >

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'workshop' %}">WORKSHOP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'beginner' %}">BEGINNER TIPS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'info' %}">HOW IT WORKS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
          </li>
        </ul>
      </div>
    </nav>

    {%block content%} {%endblock%}

    <div class="container">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <div class="col-md-4 d-flex align-items-center">
          <a
            href="/"
            class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
          >
            <svg class="bi" width="30" height="24">
              <use xlink:href="#bootstrap" />
            </svg>
          </a>
          <span
            >&copy; 2023 CompFolks - All Rights Reserved.<br />Built By Jacob
            Weissman</span
          >
        </div>

        <ul
          class="nav col-md-4 justify-content-end list-unstyled d-flex custom-footer-right"
        >
          <li class="nav-item">
            <a href="{% url 'home' %}" class="px-2 custom-footer-right-link"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a href="{% url 'beginner' %}" class="px-2 custom-footer-right-link"
              >Tips</a
            >
          </li>
          <li class="nav-item">
            <a href="{% url 'info' %}" class="px-2 custom-footer-right-link"
              >How It Works</a
            >
          </li>
          <li class="nav-item">
            <a href="{% url 'workshop' %}" class="px-2 custom-footer-right-link"
              >Workshop</a
            >
          </li>
          <li class="nav-item">
            <a href="{% url 'about' %}" class="px-2 custom-footer-right-link"
              >About</a
            >
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
