{% extends "app_bb/base.html" %} {% load static %} {% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'css/single.css'%}" />
<form
  name="singlegameform"
  method="post"
  action="{% url 'single' %}"
  id="singlegameform"
>
  {%csrf_token%}
  <!-- {{ pitchers }} -->
  <div class = "container" id = "container">
  <div class="jumbotron custom-jumbotron center-block">
    <h1 class="display-4">Single-Game Mode</h1>
    <p class="lead">
      You control everything.
    </p>
    <a
      class="btn btn-primary btn-lg custom-primary-btn"
      href="{% url 'info' %}"
      role="button"
      >How It Works</a
    >
    <hr class="my-4" />
  </div>
  <div class = "row">
  <div class="bigbox col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" id="homebox">
    <!-- <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"> -->
        <h1 class = "teamname">HOME TEAM: </h1>
        <span class="coloredcircle" id="homecoloredcircle">&#11044;</span>
        <input class = "nameinput" type="text" name="hometeam" id = "hometeam">
        <h1>PITCHING</h1>
        <label for="h_p1">SP</label>
        <select name="h_p1" class="filter-selectbox">
          {% for pitcher in pitchers %}
          <option value="{{ pitcher.fangraphs_id }}">{{ pitcher }}</option>
          {% endfor %}
        </select>
        <label for="h_ip1"> Innings</label>
        <select name="h_ip1" class="filter-selectbox">
          {% for inning in innings %}
          <option value="{{ inning }}">{{ inning }}</option>
          {% endfor %}
        </select>
      </br>
        <label for="h_p2">RP</label>
        <select name="h_p2" class="filter-selectbox">
          {% for pitcher in pitchers %}
          <option value="{{ pitcher.fangraphs_id }}">{{ pitcher }}</option>
          {% endfor %}
        </select>
        <label for="h_ip2"> Innings</label>
        <select name="h_ip2" class="filter-selectbox">
          {% for inning in innings %}
          <option value="{{ inning }}">{{ inning }}</option>
          {% endfor %}
        </select>
      </br>
        <label for="h_p3">RP</label>
        <select name="h_p3" class="filter-selectbox">
          {% for pitcher in pitchers %}
          <option value="{{ pitcher.fangraphs_id }}">{{ pitcher }}</option>
          {% endfor %}
        </select>
        <label for="h_ip3"> Innings</label>
        <select name="h_ip3" class="filter-selectbox">
          {% for inning in innings %}
          <option value="{{ inning }}">{{ inning }}</option>
          {% endfor %}
        </select>
      </br>
        <label for="h_p4">RP</label>
        <select name="h_p4" class="filter-selectbox">
          {% for pitcher in pitchers %}
          <option value="{{ pitcher.fangraphs_id }}">{{ pitcher }}</option>
          {% endfor %}
        </select>
        <label for="h_ip4"> Innings</label>
        <select name="h_ip4" class="filter-selectbox">
          {% for inning in innings %}
          <option value="{{ inning }}">{{ inning }}</option>
          {% endfor %}
        </select>
      </br>
        <label for="h_p5">RP</label>
        <select name="h_p5" class="filter-selectbox">
          {% for pitcher in pitchers %}
          <option value="{{ pitcher.fangraphs_id }}">{{ pitcher }}</option>
          {% endfor %}
        </select>
        <label for="h_ip5"> Innings</label>
        <select name="h_ip5" class="filter-selectbox">
          {% for inning in innings %}
          <option value="{{ inning }}">{{ inning }}</option>
          {% endfor %}
        </select>
      </br>
        <label for="h_p6">RP</label>
        <select name="h_p6" class="filter-selectbox">
          {% for pitcher in pitchers %}
          <option value="{{ pitcher.fangraphs_id }}">{{ pitcher }}</option>
          {% endfor %}
        </select>
        <label for="h_ip6"> Innings</label>
        <select name="h_ip6" class="filter-selectbox">
          {% for inning in innings %}
          <option value="{{ inning }}">{{ inning }}</option>
          {% endfor %}
        </select>
      </br>
      <label for="h_p7">RP</label>
        <select name="h_p7" class="filter-selectbox">
          {% for pitcher in pitchers %}
          <option value="{{ pitcher.fangraphs_id }}">{{ pitcher }}</option>
          {% endfor %}
        </select>
        <label for="h_ip7"> Innings</label>
        <select name="h_ip7" class="filter-selectbox">
          {% for inning in innings %}
          <option value="{{ inning }}">{{ inning }}</option>
          {% endfor %}
        </select>
      </br>
      <h1>LINEUP</h1>
      <label for="h_b1">1</label>
       <select name="h_b1" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
     </br>
       <label for="h_b2">2</label>
       <select name="h_b2" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
     </br>
       <label for="h_b3">3</label>
       <select name="h_b3" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
     </br>
       <label for="h_b4">4</label>
       <select name="h_b4" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
     </br>
       <label for="h_b5">5</label>
       <select name="h_b5" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
     </br>
       <label for="h_b6">6</label>
       <select name="h_b6" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
     </br>
     <label for="h_b7">7</label>
       <select name="h_b7" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
      </br>
       <label for="h_b8">8</label>
       <select name="h_b8" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
      </br>
      <label for="h_b9">9</label>
       <select name="h_b9" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
     </br>
      </div>
    <!-- </div>
  </div> -->
  <div class="bigbox col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" id="awaybox">
    <!-- <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"> -->
        <h1 class = "teamname">AWAY TEAM: </h1>
        <span class="coloredcircle" id="awaycoloredcircle">&#11044;</span>
        <input class = "nameinput" type="text" name="awayteam" id = "awayteam">
        <h1>PITCHING</h1>
        <label for="a_p1">SP</label>
        <select name="a_p1" class="filter-selectbox">
          {% for pitcher in pitchers %}
          <option value="{{ pitcher.fangraphs_id }}">{{ pitcher }}</option>
          {% endfor %}
        </select>
        <label for="a_ip1"> Innings</label>
        <select name="a_ip1" class="filter-selectbox">
          {% for inning in innings %}
          <option value="{{ inning }}">{{ inning }}</option>
          {% endfor %}
        </select>
      </br>
        <label for="a_p2">RP</label>
        <select name="a_p2" class="filter-selectbox">
          {% for pitcher in pitchers %}
          <option value="{{ pitcher.fangraphs_id }}">{{ pitcher }}</option>
          {% endfor %}
        </select>
        <label for="a_ip2"> Innings</label>
        <select name="a_ip2" class="filter-selectbox">
          {% for inning in innings %}
          <option value="{{ inning }}">{{ inning }}</option>
          {% endfor %}
        </select>
      </br>
        <label for="a_p3">RP</label>
        <select name="a_p3" class="filter-selectbox">
          {% for pitcher in pitchers %}
          <option value="{{ pitcher.fangraphs_id }}">{{ pitcher }}</option>
          {% endfor %}
        </select>
        <label for="a_ip3"> Innings</label>
        <select name="a_ip3" class="filter-selectbox">
          {% for inning in innings %}
          <option value="{{ inning }}">{{ inning }}</option>
          {% endfor %}
        </select>
      </br>
        <label for="a_p4">RP</label>
        <select name="a_p4" class="filter-selectbox">
          {% for pitcher in pitchers %}
          <option value="{{ pitcher.fangraphs_id }}">{{ pitcher }}</option>
          {% endfor %}
        </select>
        <label for="a_ip4"> Innings</label>
        <select name="a_ip4" class="filter-selectbox">
          {% for inning in innings %}
          <option value="{{ inning }}">{{ inning }}</option>
          {% endfor %}
        </select>
      </br>
        <label for="a_p5">RP</label>
        <select name="a_p5" class="filter-selectbox">
          {% for pitcher in pitchers %}
          <option value="{{ pitcher.fangraphs_id }}">{{ pitcher }}</option>
          {% endfor %}
        </select>
        <label for="a_ip5"> Innings</label>
        <select name="a_ip5" class="filter-selectbox">
          {% for inning in innings %}
          <option value="{{ inning }}">{{ inning }}</option>
          {% endfor %}
        </select>
      </br>
        <label for="a_p6">RP</label>
        <select name="a_p6" class="filter-selectbox">
          {% for pitcher in pitchers %}
          <option value="{{ pitcher.fangraphs_id }}">{{ pitcher }}</option>
          {% endfor %}
        </select>
        <label for="a_ip6"> Innings</label>
        <select name="a_ip6" class="filter-selectbox">
          {% for inning in innings %}
          <option value="{{ inning }}">{{ inning }}</option>
          {% endfor %}
        </select>
      </br>
      <label for="a_p7">RP</label>
        <select name="a_p7" class="filter-selectbox">
          {% for pitcher in pitchers %}
          <option value="{{ pitcher.fangraphs_id }}">{{ pitcher }}</option>
          {% endfor %}
        </select>
        <label for="a_ip7"> Innings</label>
        <select name="a_ip7" class="filter-selectbox">
          {% for inning in innings %}
          <option value="{{ inning }}">{{ inning }}</option>
          {% endfor %}
        </select>
      </br>
      <h1>LINEUP</h1>
      <label for="a_b1">1</label>
       <select name="a_b1" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
     </br>
       <label for="a_b2">2</label>
       <select name="a_b2" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
     </br>
       <label for="a_b3">3</label>
       <select name="a_b3" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
     </br>
       <label for="a_b4">4</label>
       <select name="a_b4" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
     </br>
       <label for="a_b5">5</label>
       <select name="a_b5" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
     </br>
       <label for="a_b6">6</label>
       <select name="a_b6" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
     </br>
     <label for="a_b7">7</label>
       <select name="a_b7" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
      </br>
       <label for="a_b8">8</label>
       <select name="a_b8" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
      </br>
      <label for="a_b9">9</label>
       <select name="a_b9" class="filter-selectbox">
         {% for batter in batters %}
         <option value="{{ batter.fangraphs_id }}">{{ batter }}</option>
         {% endfor %}
       </select>
     </br>
      <!-- </div>
    </div> -->
  </div> 
  </div>
  <div class="text-center" id="submitbutton">
    <input
      class="btn btn-primary btn-submit-custom"
      type="submit"
      value="RUN THE MODEL"
      id="userweightsformsubmitreal"
    />
  </div>
</div>
</form>
<script src="{% static 'js/single.js'%}"></script>
{% endblock %}
