{% extends "app_bb/base.html" %} {% load static %} {% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'css/workshop.css'%}" />
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"
></script>
<div class="container" id = "container">
  <div class="jumbotron custom-jumbotron center-block">
    <h1 class="display-4">Workshop</h1>
    <p class="lead">
      Build your custom model.
    </p>
    <a
      class="btn btn-primary btn-lg custom-primary-btn"
      href="{% url 'info' %}"
      role="button"
      >How It Works</a
    >
    <hr class="my-4" />
  </div>
  {% if featureerror %}
  <div class = "card mb-3" id = "errorcard">
  <h3 class="errorheader">{{featureerror}}</h3>
    <p class="errordetails">{{featureerrordetails}}</p>
  </div>
  {% endif %}
  <!-- TABS -->
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item" id = "generaltab">
      <h3 class="nav-link cat-nav-link" id = "generallink">GENERAL</h3>
    </li>
    <li class="nav-item" id = "battingtab">
      <h3 class="nav-link cat-nav-link" id = "battinglink">BATTING</h3>
    </li>
    <li class="nav-item" id = "baserunningtab">
      <h3 class="nav-link cat-nav-link" id = "baserunninglink">BASERUNNING</h3>
    </li>
    <li class="nav-item" id = "pitchingtab">
      <h3 class="nav-link cat-nav-link" id = "pitchinglink">PITCHING</h3>
    </li>
    <li class="nav-item" id = "fieldingtab">
      <h3 class="nav-link cat-nav-link" id = "fieldinglink" >FIELDING</h3>
    </li>
    <li class="nav-item">
      <h3 class="nav-link cat-nav-link" id = "submitlink">SUBMIT</h3>
    </li>
  </ul>
  <form
  name="userweightsform"
  method="post"
  action="{% url 'workshop' %}"
  id="userweightsform"
>
  {%csrf_token%}
<div class = "bigbox" id="generalbox">
  <div class="row justify-content-center">
    <div class = "col-8 col-sm-12 col-md-12 col-lg-12 col-xl-8 card error errorhomefield">ERROR: Home Field % must not exceed 50, and no negative values are accepted</div>
    <div class = "col-8 col-sm-12 col-md-12 col-lg-12 col-xl-8 card error errorseasonweights">ERROR: Season % Weights must not exceed 100, and no negative values are accepted</div>
      <div class = "col-8 col-sm-12 col-md-12 col-lg-12 col-xl-8 card error errorcategories">ERROR: Category % Weights must not exceed 100, and no negative values are accepted</div>
      <div class = "col-8 col-sm-12 col-md-12 col-lg-12 col-xl-8 card error errorinnings">ERROR: Starting Pitcher IP must be between 1 and 9, and be a whole number, end in 0.1, or end in 0.2</div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 card custom-intro-card">
        <div class="card-body">
          <h5 class="card-title card-intro-text">
            Build And Run Your Model Using Workshop
          </h5>
          <h6 class="card-subtitle mb-2 text-muted card-intro-text-p">
            CompFolks - Built by Jacob Weissman
          </h6>
          <p class="card-text card-intro-text-p">
            In Workshop, you can build a custom player-based model to predict games.<br><br>
            Start by choosing your general criteria: how much weight to give to home-field advantage, how heavily each of the last three seasons should be weighed, how far the starting pitcher should be expected to go (with remaining innings allocated to the team's bullpen), and whether or not to use "plus" stats when possible. <br><br>
            Choose how much to weigh the four overarching categories: batting, pitching, baserunning, and fielding. Or simply choose batting and pitching, and leave the baserunning and fielding to us: we will automatically weigh these categories according to importance.<br><br>
            Now you are ready for the fun part. Click through the top navigation bar and make selections for each of the four overarching categories (batting, baserunning, pitching, and fielding). Choose how much to weigh each statistic in each category, and ensure each category sums to 100. Blank/untouched stats are assigned a weight of 0, and are ignored when running your model.<br><br>
            Lastly, navigate to "SUBMIT," choose your variance, and click "RUN THE MODEL". We will compute game matchups by running 100,000 simulations based on your selections.<br><br>
            Each time you click run, we re-simulate each game 100,000 times. As a result, win % values can vary slightly each time you run the model, even if the lineups remain unchanged.
          </p>
        </div>
        <div class = "text-center">
        <a
            class="btn btn-primary btn-lg custom-workshop-btn"
            href="{% url 'info' %}"
            role="button"
            >How It Works</a
          >
          <a
            class="btn btn-primary btn-lg custom-workshop-btn"
            href="{% url 'beginner' %}"
            role="button"
            >Beginner Tips</a
          >
        </div>
      </div>
      <!-- above is the end of col-4 -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 inputcolor">
    <div class="general-header advantages">
      <p class="general-header-text advantages-text">
        Home-Field Advantage
      </p>
      <div class="col-12 form-check form-check-inline">
        {{ generalform.homefield_auto }}
        <label class="form-check-label"
          >Auto</label
        >
      </div>
      <div class="col-12 form-check form-check-inline">
        {{ generalform.homefield_manual }}
        <label class="form-check-label"
          >Manual</label
        >
      </div>
      <div class="col-12 form-check form-check-inline">
        {{ generalform.homefield_none }}
        <label class="form-check-label"
          >None</label
        >
      </div>
      <div class = "row" id = "homefieldmanualinput">
        <div class = "col-12 mt-3">
        <label>Home % Advantage (for example: a value of 4 will bring a home team from winning 50% to 54%)</label>
        {{ generalform.homefield_weight }}
      </div>
      </div>
    </div>
    <!--seasons weight-->
    <div class="general-header seasons-weight">
      <p class="general-header-text seasons-weight-text">
        Seasons of Data
      </p>
      <div class="col-12 form-check form-check-inline">
       {{ generalform.seasonweights_auto}}
        <label class="form-check-label"
          >Auto 3-Year Weighted Averages</label
        >
      </div>
      <div class="col-12 form-check form-check-inline">
        {{ generalform.seasonweights_manual}}
        <label class="form-check-label"
          >Manual 3-Year Weighted Averages</label
        >
      </div>
      <div class="col-12 form-check form-check-inline">
        {{ generalform.seasonweights_current}}
        <label class="form-check-label"
          >Current Season Only</label
        >
      </div>
      <div class = "row mt-3" id = "threeyearmanualinput">
        <div class = "col-4">
        <label>2020 % Weight</label>
        {{ generalform.s2020_weight}}
      </div>
      <div class = "col-4">
      <label>2021 % Weight</label>
      {{ generalform.s2021_weight}}
    </div>
      <div class = "col-4">
      <label>2022 % Weight</label>
      {{ generalform.s2022_weight}}
      </div>
      </div>
    </div>
    <div class="general-header mt-3">
      <div class="form-group">
        <p class = "general-header-text">Starting Pitcher IP</p>
          <p class = "mb-0">note: remaining innings will be calculated using team bullpen data, 0.1 = 1/3 of inning, 0.2 = 2/3 of inning</p>
      {{ generalform.starterinnings}}
    </div>
  </div>
  <div class="general-header standard-plus">
    <p class="general-header-text standard-plus-text">
      Standard or "Plus" Stats
    </p>
    <div class="form-check-inline">
      {{ generalform.standard_park_adjusted}}
      <label class="form-check-label"
        >Standard</label
      >
    </div>
    <div class="form-check-inline">
      {{ generalform.plus_park_adjusted}}
      <label class="form-check-label">"Plus" (ballpark/league adjusted)</label>
    </div>
  </div>
  <!--batter/pitcher weights-->
    <div class="general-header">
      <p class="general-header-text">
        Baserunning/Fielding Importance 
      </p>
      <div class="form-check form-check-inline">
        {{ generalform.bsrfld_auto}}
        <label class="form-check-label"
          >Auto</label
        >
      </div>
      <div class="form-check form-check-inline">
        {{ generalform.bsrfld_manual}}
        <label class="form-check-label">Manual</label>
      </div></div>
      <div class = "general-header">
      <div class="row mb-0" id = "categoryweights">
        <p class = "general-header-text">Category % Weights</p>
        <div class="form-group col-6 mt-3">
        <label>Batting % Weight</label>
        {{ generalform.batting_weight}}
      </div>
      <div class="form-group col-6 mt-3">
     
        <label>Pitching % Weight</label>
        {{ generalform.pitching_weight}}
      </div>
      <!-- add fielding/baserunning if manual is selected -->
    </div>
    <div class="row" id = "bsrfldinput">
      <div class="form-group col-6">
      <label>Baserunning % Weight</label>
      {{ generalform.baserunning_weight}}
    </div>
    <div class="form-group col-6">
   
      <label>Fielding % Weight</label>
      {{ generalform.fielding_weight}}
    </div>
  </div>
</div>
    
</div>
<!-- above is the close of col-4. you can stretch to col-6 and put helper text on bottom, or have two more columns of helper text -->

</div>
<!-- place next? -->
</div> 
<!-- above is the end of the generalbox -->
<div class = "bigbox" id = "battingbox">
<div class="row justify-content-center">
  <div class = "col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
  <div class="card-body info-card-body white-body">
    <h5 class="card-title info-title dark-title">
      Select Batting Statistics
    </h5>
    <p class="card-text info-text dark-text">
      Choose which stats you would like to use, and how heavily you would like to weigh them, by simply typing in the % weight (out of 100) in the corresponding stat input box. For example, to give AVG 20% of the total batting importance, type "20" in the AVG box. Any stat left empty will be assumed to have 0 weight and will not be used. When done, move to the next category, and follow the same steps.<br /><br />
    
      The total weight of batting statistics (in other words, the values entered in the currently displayed input boxes) must sum to 100. Batting stats are sorted into three sections (box score, batted ball, and aggregate) for clarity and convenience.</br></br>

      Not sure what all these stats mean? Try googling, or just use a few stats that you know and leave the rest blank. You do NOT need to use all of the stats - any stat you do not want to use, simply leave blank.</br></br>

    </p>
    <h3 class = "rsum">
    Current batting sum (must equal 100): <span id = "battingsumcheck">0</span>
</h3>
  </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 card error errorbatting">ERROR: Batting % Weights must not exceed 100, and no negative values are accepted</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 inputcolor">
    <div class="form-group">
      <p class="subcategory-title">BOX SCORE</p>
      <div class="form-group">
        <label class = "value-title">AVG</label>
        {{battingform.bavg_weight}}
      </div>
      <div class="form-group">
        <label class="value-title">BB%</label>
        {{battingform.bbperpa_weight}}
      </div>
      <div class="form-group">
        <label class="value-title">Chase Rate <span class="minus">-</span></label>
        {{battingform.chaserate_weight}}
      </div>
      <div class="form-group">
        <label class="value-title">First Pitch K% <span class="minus">-</span></label>
        {{battingform.firstpitchstrike_weight}}
      </div>
      <div class="form-group">
        <label class="value-title">K% <span class="minus">-</span></label>
        {{battingform.kperpa_weight}}
      </div>
      <div class="form-group">
        <label class = "value-title">OBP</label>
        {{battingform.obp_weight}}
      </div>
      <div class="form-group">
        <label class="value-title">OPS</label>
        {{battingform.ops_weight}}
      </div>
      <div class="form-group">
        <label class="value-title">R/PA</label>
        {{battingform.rperpa_weight}}
      </div>
      <div class="form-group">
        <label class="value-title">RBI/PA</label>
        {{battingform.rbiperpa_weight}}
      </div>
      <div class="form-group">
        <label class="value-title">SLG</label>
        {{battingform.bslg_weight}}
      </div>
      <div class="form-group">
        <label class="value-title">Swing Contact %</label>
        {{battingform.swingcontact_weight}}
      </div>
      <div class="form-group">
        <label class="value-title">Swinging Strike % <span class="minus">-</span></label>
        {{battingform.swingingstrike_weight}}
      </div>
    </div>


</div>
<!-- above is the end of col-3 -->
<div class = "col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 inputcolor">
  <p class="subcategory-title">BATTED BALL</p>
  <div class="form-group">
    <label class="value-title">Barrel %</label>
    {{battingform.brl_percent_weight}}
  </div>
  <div class="form-group">
    <label class = "value-title">BABIP</label>
    {{battingform.bbabip_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">EV95+ %</label>
    {{battingform.ev95percent_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">FB%</label>
    {{battingform.fb_per_bip_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">GB% <span class="minus">-</span></label>
    {{battingform.gb_per_bip_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">Hard Hit %</label>
    {{battingform.bhardhitpercent_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">HR/FB</label>
    {{battingform.hr_per_fb_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">IFFB% <span class="minus">-</span></label>
    {{battingform.iffb_per_bip_weight}}
  </div>
  <div class="form-group">
    <label class = "value-title">LD%</label>
    {{battingform.ld_per_bip_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">Max Distance</label>
    {{battingform.max_distance_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">Max Exit Velo</label>
    {{battingform.max_hit_speed_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">Sweet Spot %</label>
    {{battingform.banglesweetspotpercent_weight}}
  </div>

</div>
<!-- above is the end of col-3 -->
<div class = "col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 inputcolor">
  <p class="subcategory-title">AGGREGATE</p>
  <div class="form-group">
    <label class="value-title">xAVG</label>
    {{battingform.bxavg_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">AVG Distance</label>
    {{battingform.avg_distance_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">AVG Exit Velo</label>
    {{battingform.avg_hit_speed_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">BBatting</label>
    {{battingform.bref_batting_runs_per_pa_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">FBatting</label>
    {{battingform.fbat_per_pa_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">FClutch</label>
    {{battingform.bclutch_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">ISO</label>
    {{battingform.iso_weight}}
  </div>
  <div class="form-group">
    <label class = "value-title">wRAA</label>
    {{battingform.wRAA_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">wRC</label>
    {{battingform.wRC_weight}}
  </div>
  <div class="form-group">
    <label class="value-title"
      >xSLG</label>
    {{battingform.bxslg_weight}}
  </div>
  <div class="form-group">
    <label class = "value-title">wOBA</label>
    {{battingform.wOBA_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">xwOBA</label>
    {{battingform.bxwoba_weight}}
  </div>


</div>
<!-- above is the end of col-3 -->

<!-- here should go the helper text and errors, and all that jazz -->
</div>


</div>
<!-- above is the end of battingbox -->

<div class = "bigbox" id = "baserunningbox">
  <div class = "row justify-content-center">
    <div class = "col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <div class="card-body info-card-body white-body">
        <h5 class="card-title info-title dark-title">
          Select Baserunning Statistics
        </h5>
        <p class="card-text info-text dark-text">
          Choose which stats you would like to use, and how heavily you would like to weigh them, by simply typing in the % weight (out of 100) in the corresponding stat input box. For example, to give BBaserunning 20% of the total baserunning importance, type "20" in the BBaserunning box. Any stat left empty will be assumed to have 0 weight and will not be used. When done, move to the next category, and follow the same steps.<br /><br />
    
      The total weight of baserunning statistics (in other words, the values entered in the currently displayed input boxes) must sum to 100. </br></br>

      Not sure what all these stats mean? Try googling, or just use a few stats that you know and leave the rest blank. You do NOT need to use all of the stats - any stat you do not want to use, simply leave blank.</br></br>

    </p>
    <h3 class = "rsum">
    Current baserunning sum (must equal 100): <span id = "baserunningsumcheck">0</span>
</h3>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 card error errorbaserunning">ERROR: Baserunning % Weights must not exceed 100, and no negative values are accepted</div>
    </div>
    <div class = "row justify-content-center">
  <div class = "col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4 inputcolor form-group">
  <p class="subcategory-title">BASERUNNING</p>
  <div class="form-group">
    <label class="value-title">BBaserunning</label>
    {{battingform.bref_bsr_runs_per_pa_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">FBaserunning</label>
    {{battingform.bsr_per_pa_weight}}
  </div>
  <div class="form-group">
    <label class = "value-title">xSB %</label>
    {{battingform.xSB_added_percent_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">Single Speed <span class="minus">-</span></label>
    {{battingform.home_to_first_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">Speed</label>
    {{battingform.spd_weight}}
  </div>
  <!-- <div class="form-group">
    <label class="value-title"
      >Sprint Speed</label>
    {{battingform.sprint_speed_weight}}
  </div> -->

</div>
<!-- above is the end of col-4 -->
<!-- place helper text and whatnot -->
</div>
</div>
<!-- above is the end of baserunningbox -->

<div class = "bigbox" id = "pitchingbox">
<div class = "row justify-content-center">
  <div class = "col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
    <div class="card-body info-card-body white-body">
      <h5 class="card-title info-title dark-title">
        Select Pitching Statistics
      </h5>
      <p class="card-text info-text dark-text">
        Choose which stats you would like to use, and how heavily you would like to weigh them, by simply typing in the % weight (out of 100) in the corresponding stat input box. For example, to give AVG 20% of the total pitching importance, type "20" in the AVG box. Any stat left empty will be assumed to have 0 weight and will not be used. When done, move to the next category, and follow the same steps.<br /><br />
    
      The total weight of pitching statistics (in other words, the values entered in the currently displayed input boxes) must sum to 100. Pitching stats are sorted into three sections (box score, batted ball, and aggregate) for clarity and convenience.</br></br>

      Not sure what all these stats mean? Try googling, or just use a few stats that you know and leave the rest blank. You do NOT need to use all of the stats - any stat you do not want to use, simply leave blank.</br></br>

    </p>
    <h3 class = "rsum">
    Current pitching sum (must equal 100): <span id = "pitchingsumcheck">0</span>
</h3>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 card error errorpitching">ERROR: Pitching % Weights must not exceed 100, and no negative values are accepted</div>
<div class = "col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 inputcolor">
  <p class="subcategory-title">BOX SCORE</p>
  <div class="form-group">
    <label class="value-title">AVG<span class="minus"> -</span></label>
    {{pitchingform.avg_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">BB%<span class="minus"> -</span></label>
    {{pitchingform.bbpercent_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">Chase Rate</label>
    {{pitchingform.outsidezoneswingpercent_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">ERA<span class="minus"> -</span></label>
    {{pitchingform.era_weight}}
  </div>
  <div class="form-group">
    <label class = "value-title">First Pitch K%</label>
    {{pitchingform.firstpitchstrikepercent_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">H/9<span class="minus"> -</span></label>
    {{pitchingform.hitpernine_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">HR/9<span class="minus"> -</span></label>
    {{pitchingform.hrpernine_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">K%</label>
    {{pitchingform.kpercent_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">K/BB</label>
    {{pitchingform.kperbb_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">RA<span class="minus"> -</span></label>
    {{pitchingform.runsaverage_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">SLG%<span class="minus"> -</span></label>
    {{pitchingform.slg_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">Strike %</label>
    {{pitchingform.cswpercent_weight}}
  </div>
  <div class="form-group">
    <label class = "value-title">Swinging Strike %</label>
    {{pitchingform.swingingstrikespercent_weight}}
  </div>
  <div class="form-group">
    <label class = "value-title">Winning %</label>
    {{pitchingform.winningpercent_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">WHIP<span class="minus"> -</span></label>
    {{pitchingform.whip_weight}}
  </div>

</div>
<!-- end of col-3 -->
<div class = "col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 inputcolor">
  <p class="subcategory-title">BATTED BALL</p>
  <div class="form-group">
    <label class="value-title">AVG Distance<span class="minus"> -</span></label>
    {{pitchingform.avgdistance_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">AVG Exit Velo<span class="minus"> -</span></label>
    {{pitchingform.averageev_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">BABIP<span class="minus"> -</span></label>
    {{pitchingform.babip_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">Barrel %<span class="minus"> -</span></label>
    {{pitchingform.barrel_percent_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">EV95+ %<span class="minus"> -</span></label>
    {{pitchingform.ev95pluspercent_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">FB%<span class="minus"> -</span></label>
    {{pitchingform.fbpercent_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">GB%</label>
    {{pitchingform.gbpercent_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">Hard Hit %<span class="minus"> -</span></label>
    {{pitchingform.hardhitpercent_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">HR/FB<span class="minus"> -</span></label>
    {{pitchingform.hrperfb_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">IFFB%</label>
    {{pitchingform.iffbpercent_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">LD%<span class="minus"> -</span></label>
    {{pitchingform.ldpercent_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">LOB%</label>
    {{pitchingform.lobpercent_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">Soft %</label>
    {{pitchingform.softpercent_weight}}
  </div>
  <div class="form-group">
    <label class = "value-title">Soft/Medium %</label>
    {{pitchingform.softplusmediumpercent_weight}}
  </div>
  <div class="form-group">
    <label class="value-title"
      >Sweet Spot %<span class="minus"> -</span></label>
    {{pitchingform.anglesweetspotpercent_weight}}
  </div>

</div>
<!-- end of col-3 -->
<div class = "col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 inputcolor">
  <p class="subcategory-title">AGGREGATE</p>
  <div class="form-group">
    <label class="value-title">xAVG<span class="minus"> -</span></label>
    {{pitchingform.xavg_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">Clutch</label>
    {{pitchingform.clutch_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">xERA<span class="minus"> -</span></label>
    {{pitchingform.xera_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">FIP<span class="minus"> -</span></label>
    {{pitchingform.fip_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">xFIP<span class="minus"> -</span></label>
    {{pitchingform.xfip_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">kwERA<span class="minus"> -</span></label>
    {{pitchingform.kwera_weight}}
  </div>
  <div class="form-group">
    <label class = "value-title">RAR</label>
    {{pitchingform.rar_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">RE24</label>
    {{pitchingform.retwentyfour_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">SIERA<span class="minus"> -</span></label>
    {{pitchingform.siera_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">xSLG<span class="minus"> -</span></label>
    {{pitchingform.xslg_weight}}
  </div>
  <div class="form-group">
    <label class = "value-title">tERA<span class="minus"> -</span></label>
    {{pitchingform.tera_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">WAR</label>
    {{pitchingform.war_weight}}
  </div>
  <div class="form-group">
    <label class="value-title"
      >wOBA<span class="minus"> -</span></label>
    {{pitchingform.woba_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">xwOBA<span class="minus"> -</span></label>
    {{pitchingform.xwoba_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">WPA</label>
    {{pitchingform.wpa_weight}}
  </div>

</div>
<!-- end of col-3 -->



</div>
</div>
<!-- above is the end of pitchingbox -->


<div class = "bigbox" id = "fieldingbox">
  <div class = "row justify-content-center">
    <div class = "col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <div class="card-body info-card-body white-body">
        <h5 class="card-title info-title dark-title">
          Select Fielding Statistics
        </h5>
        <p class="card-text info-text dark-text">
          Choose which stats you would like to use, and how heavily you would like to weigh them, by simply typing in the % weight (out of 100) in the corresponding stat input box. For example, to give BDefense 20% of the total fielding importance, type "20" in the BDefense box. Any stat left empty will be assumed to have 0 weight and will not be used. When done, move to the next category, and follow the same steps.<br /><br />
      
        The total weight of fielding statistics (in other words, the values entered in the currently displayed input boxes) must sum to 100. Fielding stats are sorted into two sections, player-based and team-based, for clarity and convenience.</br></br>

        Not sure what all these stats mean? Try googling, or just use a few stats that you know and leave the rest blank. You do NOT need to use all of the stats - any stat you do not want to use, simply leave blank.</br></br>
  
      </p>
      <h3 class = "rsum">
      Current fielding sum (must equal 100): <span id = "fieldingsumcheck">0</span>
  </h3>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 card error errorfielding">ERROR: Fielding % Weights must not exceed 100, and no negative values are accepted</div>
  <div class = "col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 inputcolor">
    <p class="subcategory-title">PLAYER-BASED</p>
       <div class="form-group">
        <label class="value-title">BDefense</label>
        {{battingform.bref_war_def_per_pa_weight}}
      </div>
       <div class="form-group">
         <label class="value-title">FDefense</label>
         {{battingform.fdef_per_pa_weight}}
       </div>
      <div class="form-group">
        <label class = "value-title">FRP</label>
        {{battingform.fielding_runs_prevented_weight}}
      </div>
      <div class="form-group">
        <label class = "value-title">OAA</label>
        {{battingform.outs_above_avg_weight}}
      </div>
  
  </div>
  <!-- end of col-4 -->
  <div class = "col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 inputcolor">
    <p class="subcategory-title">TEAM-BASED</p>
    <div class="form-group">
      <label class="value-title">Defense</label>
      {{teamform.defense_weight}}
    </div>
    <div class="form-group">
     <label class="value-title">DRS</label>
     {{teamform.defensiverunssaved_weight}}
   </div>
   <div class="form-group">
    <label class="value-title">DP</label>
    {{teamform.doubleplays_weight}}
  </div>
  <div class="form-group">
    <label class="value-title">Errors<span class="minus"> -</span></label>
    {{teamform.errors_weight}}
  </div>
   <div class="form-group">
     <label class="value-title">Fielding %</label>
     {{teamform.fieldingpercentage_weight}}
   </div>
   <div class="form-group">
    <label class="value-title">xSBAA</label>
    {{teamform.xsbsavedagainst_weight}}
  </div>
   <div class="form-group">
     <label class="value-title">UZR</label>
     {{teamform.ultimatezonerating_weight}}
   </div>
   <div class="form-group">
     <label class="value-title">WP + PB<span class="minus"> -</span></label>
     {{teamform.wildpitchespluspassedballs_weight}}
   </div>
  
  </div>
  <!-- end of col-4 -->

  
  
  
  </div>
  </div>
  <!-- above is the end of fieldingbox -->


<div class = "bigbox" id = "submitbox">
<div class = "row justify-content-center">
<!-- VARIANCE -->
<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 card text-center" id = "variance-card">
  <div class="card-header">
    Variance/Randomness
  </div>
  <div class="card-body">
    <h5 class="card-title" id ="variance-title">One Last Thing...</h5>
    <p class="card-text">Before you run the model, choose the variance value to be used when simulating the games. A greater variance value equates to more randomness ("50/50"), while a low value equates to more "chalk". We recommend experimenting with the variance value until you find one that works well with your custom model. Your variance value should result in game odds that neither significantly favor the better team nor consider every game a toss-up.</p>
    
      <div class="form-group">
        <label>note: variance of 0 means the better team wins 100% of the time, and a higher value means more randomness. We suggest trying a value of 1.2 to get started.</label>
        <br>
        {{ generalform.variance }}
      </div>
    </div>
  </div>
  <!-- end of col-6 -->
  <div class = "col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 jumbotron jumbotron-fluid" id = "grass-pic">
    <div class="container">
      <h3 class="lead text-center grass-text" id = "grass-pic-subtext">Your Results Await.</h3>
    </div>
      </div>
      <!-- end of col-6 -->
</div>
<div class = "col-12 card error errorhomefield mt-3">ERROR IN 'GENERAL': Home Field % must not exceed 50, and no negative values are accepted. Please fix this issue before running the model.</div>
<div class = "col-12 card error errorseasonweights mt-3">ERROR IN 'GENERAL': Season % Weights must not exceed 100, and no negative values are accepted. Please fix this issue before running the model.</div>
      <div class = "col-12 card error errorcategories mt-3">ERROR IN 'GENERAL': Category % Weights must not exceed 100, and no negative values are accepted. Please fix this issue before running the model.</div>
      <div class = "col-12 card error errorinnings mt-3">ERROR IN 'GENERAL': Starting Pitcher IP must be between 1 and 9, and be a whole number, end in 0.1, or end in 0.2. Please fix this issue before running the model.</div>
      <div class="col-12 card error errorbatting mt-3">ERROR IN 'BATTING': Batting % Weights must not exceed 100, and no negative values are accepted. Please fix this issue before running the model.</div>
      <div class="col-12 card error errorbaserunning mt-3">ERROR IN 'BASERUNNING': Baserunning % Weights must not exceed 100, and no negative values are accepted. Please fix this issue before running the model.</div>
      <div class="col-12 card error errorpitching mt-3">ERROR IN 'PITCHING': Pitching % Weights must not exceed 100, and no negative values are accepted. Please fix this issue before running the model.</div>
      <div class="col-12 card error errorfielding mt-3">ERROR IN 'FIELDING': Fielding % Weights must not exceed 100, and no negative values are accepted. Please fix this issue before running the model.</div>
<!-- BUTTON -->
<div class = "text-center" id = "submitbutton">
  <input
                class="btn btn-primary btn-submit-custom"
                type="submit"
                value="RUN THE MODEL"
                id="userweightsformsubmitreal"
              />
            </div>
            <!-- <div class = "text-center" id = "loading">
              <h1 class="custom-title text-center" id = "calculating">
                CALCULATING<span id="dotdotdot"></span>
              </h1>
            </div> -->
            <div class="justify-content-center" id = "loadingcircle">
              <div class="spinner-border" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
    </form>

  
</div>


  </div>
  <!-- above is the end of submit box -->





<div class = "row">

    </div>
  <script src="{% static 'js/workshop.js'%}"></script>
  {% endblock %}
</div>
